#header{
    margin-top: 12px;
}
#menu {
    margin-bottom: 12px;
}

#contacts{
    text-align: right;
}


.news{
    padding-bottom: 20px;
    background: url(/img/divider_up.png) no-repeat 50% 100%;
}

.news .news-createdOn{
    color: #666;
    font-size: 13px;
}
.news .news-content{
}



.product-card h2 {
    margin-top: 0px;
}

.product-card .product-price {
    font-size: 24px;
    color: white;
    background-color: #69A7DD;
    display: inline-block;
    padding: 1px 13px;
    border-radius: 6px;
    border: 1px solid #6D9FCA;
}

.product-card .product-price.discount {
    background-color: #F7855E;
    border: 1px solid #D87F61;
}
.product-card .product-discount{
    position: relative;
    top: -6px;
}


.products-item{
    margin-bottom: 24px;
}
.products-item .product-image {
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 170px;
    padding-bottom: 7px;
}

.products-item img {
    height: 170px;
}

.products-item .name-product {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.products-item a {
    font-size: 12px;
    color: #000;
    line-height: 15px;
    text-decoration: none;
}

.products-item a:hover,
.products-item a.hover {
    color: #008da6;
    text-decoration: underline;
}

.products-item .product-price {
    border-top: 1px solid #e1e1e1;
    margin: 4px 1px 0px;
    position: relative;
}

.products-item .product-price .product-price-text {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 102px;
    margin-top: 2px;
    float: right;
}

.products-item .product-price .product-to-cart {
    display: inline-block;
    cursor: pointer;
    width: 77px;
    height: 24px;

}

.products-item .product-price .to-basket-button {
    font-size: 14px;
    color: #428bca;
}
.products-item .product-discount{
    background-color: #F7855E;
    color: white;
    padding: 2px 4px;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 79px;
    position: relative;
    top: 4px;
}