#header{
    margin-top: 12px;
}
#menu {
    margin-bottom: 12px;
}

#contacts{
    text-align: right;
}

#footer{
    margin-top: 40px;
}

.products-item{
    margin-bottom: 24px;
}
.products-item .product-image {
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: 170px;
    padding-bottom: 7px;
}

.products-item img {
    height: 170px;
}

.products-item .name-product {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.products-item a {
    font-size: 12px;
    color: #000;
    line-height: 15px;
    text-decoration: none;
}

.products-item a:hover,
.products-item a.hover {
    color: #008da6;
    text-decoration: underline;
}

.products-item .product-price {
    border-top: 1px solid #e1e1e1;
    margin: 4px 1px 0px;
    position: relative;
}

.products-item .product-price .product-price-text {
    color: #428bca;
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    width: 102px;
    margin-top: 2px;
    float: right;
}

.products-item .product-price .product-to-cart {
    display: inline-block;
    cursor: pointer;
    width: 77px;
    height: 24px;

}

.products-item .product-price .to-basket-button {
    font-size: 14px;
    color: #428bca;
}
.product-discount{
    background-color: #F7855E;
    color: white;
    padding: 2px 4px;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    width: 79px;
    position: relative;
    top: 4px;
}

.popular-news-item {
    text-transform: lowercase;
    margin-bottom: 8px;
}

.popular-news-item:first-letter {
    text-transform: uppercase;
}

.popular-news-item a {
    color: #656565;
}

.popular-news-item a:hover {
    color: #333333;
}

.popular-news-item .numViews {
    display: inline-block;
    padding: 2px 8px;
    font-size: 11px;
    border-radius: 3px;
    background-color: #ffecec;
    color: red;
    margin-left: 4px;
}
.action {
    margin-bottom: 16px;
}
