.product-image-cell img {
    max-height: 100px;
    max-width: 100px;
}

span.required {
    color: red;
}

.errorMessage {
    color: red;
}

#uploader_filelist{
    height: 400px;
}
.miniPicture img{
    cursor: pointer;
}
.miniPicture div{
    margin-top: 8px;
}

.submenu{
    margin-bottom: 24px;
}
